
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <link href={{url_for("static", filename = "css/bootstrap.min.css")}} rel="stylesheet" >
    <link href={{url_for("static", filename = "teacher.png")}} rel="shortcut icon" >
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark" >
            <div class="container-fluid" >
                <h1 class="navbar-brand">Bank Application</h1>
                <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav" >
                        <li class="nav-item" > <a class="nav-link" href="{{url_for('ads')}}">View Ads</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{{url_for('makeTransaction')}}">Make Transaction</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{{url_for('logout')}}">LogOut</a> </li>
                    </ul>
                </div>
                <h3 class="navbar-brand">
                    Transactions
                </h3>
            </div>
        </nav>
        
    </div>
    <div class="container">
        <div class ="row">
            <div class ="col md-12">
                
                {%with messages = get_flashed_messages()%}
                {%if messages%}
                {%for message in messages%}

                <div class ="alert alert-success alert-dismissable" role="alert">
                    {{message}}
                </div>
                
                {%endfor%}
                {%endif%}
                {%endwith%}
                <div>
                    <div class="form-group text-center p-3">
                        <div>
                            <h1 class="d-inline p-5">Search</h1>
                            <a href="{{url_for('viewAccounts')}}" class="btn btn-success d-inline p-3" >View Accounts</a>
                        </div>
                    </div>
                    <form action="{{url_for('viewTransaction')}}" method="POST">
                        <div class="form-group">
                            <label>Receiver: </label>
                            <input type="text" class="form-control" name="account" />
                        </div>
                        <div class="form-group text-center p-3">
                            <button type="submit" class="btn btn-primary" >Search</button>
                            <a href="{{url_for('viewTransaction')}}" class="btn btn-danger" >Cancel</a>
                        </div>
                    </form>
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>ID</td>
                        <td>Sender</td>
                        <td>Receiver</td>
                        <td>Amount</td>
                        <td>Date and Time</td>
                    </tr>
                    {%for student in data%}
                    <tr>
                        <td>{{student.0}}</td>
                        <td>{{student.1}}</td>
                        <td>{{student.2}}</td>
                        <td>{{student.3}}</td>
                        <td>{{student.4}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename="js/jquery-3.7.1.slim.min.js")}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename="js/bootstrap.min.js")}}"></script>
</html>
